
<link href="~/Styles/FootballerCard.css" rel="stylesheet" />
<div class="profile-section-user ">
    <div class="profile-cover-img"><img src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" alt=""></div>
    <div class="profile-info-brief p-3">
        <img class="img-fluid user-profile-avatar" src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="dfg">
        <div class="text-center">
            <h5 class="text-uppercase mb-4">John Doe</h5>
            <p class="text-muted fz-base">I'm John Doe a web developer and software engineer. I studied computer science and software engineering.</p>
        </div>
    </div>
    <!-- /.profile-info-brief -->
    <hr class="m-0 col-md-12">
    <div class="hidden-sm-down ">
        <hr class="m-0 ">
        <div class="profile-info-general p-4 ">
            <h6 class="mb-3">General Information</h6>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td><strong>JOB:</strong></td>
                        <td>
                            <p class="text-muted mb-0">Web Developer</p>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>POSITION:</strong></td>
                        <td>
                            <p class="text-muted mb-0">Team Manager</p>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>STUDIED:</strong></td>
                        <td>
                            <p class="text-muted mb-0">Computer Science</p>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>LAST SEEN:</strong></td>
                        <td>
                            <p class="text-muted mb-0">Yesterday 8:00 AM</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.profile-info-contact -->
        <hr class="m-0">
      
        <!-- /.profile-info-general -->
        <hr class="m-0">
    </div>
    <!-- /.hidden-sm-down -->
</div>