body {
    margin-top: 20px;

}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel-body {
    padding: 25px 20px;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}


.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}


.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.mar-top {
    margin-top: 15px;
}
.posts {
    border-radius:90px;


}
textarea {
    resize: both;
    min-width: 100%;
    min-height:200px; 
   
}
.post-shadow {
    box-shadow:7px 7px 7px ;
}
